* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

.clientSection {
  padding: 70px 50px;
  background: #11998E;
}

.dv-header-promo-grey {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  align-content: center;
  width: 100%;
  height: calc(100vh - 78px);
}

.dv-header-promo-grey h1 {
  font-size: 40px;
  line-height: 55px;
  /* padding: 0;
  margin: 0; */
  /* padding-bottom: 16px; */
  color: #ffff;
  font-weight: 700;
  letter-spacing: 0.5;
}

.dv-header-promo-grey__sticky-image {
  width: 474px;
  height: 521px;
  position: relative;
}

.dv-header-promo-grey__mini-order {
  position: relative;
  width: 550px;
  z-index: 2;
}

.clientSection-banner {
  padding: 70px 50px;
  background: #ffff;
}

.elementor-22708 .elementor-element.elementor-element-da1d78f>.elementor-widget-container {
  margin: 80px 0px 48px 0px;
  padding: 0px 0px 0px 0px;
}

.elementor-heading {
  color: #11998E;
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0px;
}

.elementor-heading-title {
  color: #2d2928;
  font-size: 18px !important;
  font-weight: 600;
  letter-spacing: 0.25px;
  margin-bottom: 3rem;
}

.sub-heading {
  font-size: 18px !important;
  line-height: 1.6 !important;
}

.carrer-head-img {
  margin-bottom: 2.5rem;
}

.img-150 {
  height: 150px;
  width: auto;
}



@media (max-width: 1120px) {
  .dv-header-promo-grey__sticky-container {
    display: none;
  }
}